{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>{% trans "Appointments made at" %} {{ date }}</h2>
<hr/>

<div class="container">
	 <table class="table">
               <tr>
                		<th>{% trans "Auto" %}</th>
                		<th>{% trans "Timeslot" %}</th>
                		<th>{% trans "Date" %}</th>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Address" %}</th>
                        <th>{% trans "Postal code" %}</th>
                        <th>{% trans "City" %}</th>
                        <th>{% trans "Phone" %}</th>
                        <th>{% trans "Stuff" %}</th>
                        <th>{% trans "Notes" %}</th>
                        <th>{% trans "Made by" %}</th>
                        <th>{% trans "View" %}</th>
                </tr>
                {% for object in appointment_list %}
                <tr>
                	<td>{{ object.calendar.car }}</td>
                	<td>{{ object.calendar.timeslot }}</td>
                	<td>{{ object.calendar.date }}</td>
                        <td>{{ object.customer.name }}</td>
                        <td>{{ object.customer.address }} {{ object.customer.number }} {{ object.customer.additions }}</td>
                        <td>{{ object.customer.postcode }}</td>
                        <td>{{ object.customer.town }}</td>
                        <td>{{ object.customer.phone }}</td>
                        <td>{{ object.stuff }}</td>
                        <td>{{ object.notes }}</td>
                        <td>{{ object.employee.first_name }} {{ object.employee.last_name }}</td>
                        <td><a href="{% url AppointmentView object.pk  %}"><i class="icon-eye-open"></i></a></td>
                </tr>
                {% endfor %}
        </table>
</div>

{% endblock %}