{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>{% trans "Pick up" %} {{ car.name }} {{ date|date:"l j E o" }} {{ timeslot.begin }} - {{ timeslot.end }}</h2>
<hr/>
<table class="table table-bordered">
	<tr>
		<th>{% trans "Name" %}</th><th>{% trans "Address" %}</th><th>{% trans "Postal code" %}</th><th>{% trans "City" %}</th>
		<th>{% trans "Phone" %}</th><th>{% trans "Stuff" %}</th><th>{% trans "Notes" %}</th><th>{% trans "Edit" %}</th><th>{% trans "Remove" %}</th>
	</tr>
	{% for app in app_list %}
	<tr>
		<td>{{ app.customer.name }}</td><td>{{ app.customer.address }} {{ app.customer.number }} {{ app.customer.additions }}</td>
		<td>{{ app.customer.postcode }}</td><td>{{ app.customer.town }}</td>
		<td>{{ app.customer.phone }}</td><td>{{ app.stuff }}</td><td>{{ app.notes }}</td>
		<td><a href="{% url AppointmentEdit appointment_id=app.pk date_iso='' %}"><i class="icon-edit"></i></a></td>
		<td><a href="{% url CancelAppointment app.id %}"> <i class="icon-remove"></i></a></td>
	</tr>
	{% endfor %}

</table>
{% endblock %}
