{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block title %}{{ title }}{% endblock %}
{% block extra_head %}
    {{ customerForm.media }}
    {{ appointmentForm.media }}
    <script>
    $(function() {
    	$("#id_postcode").keyup(function(e){
    		postcode = $('#id_postcode')[0].value
    		if( postcode.length === 6 ) {
    			$.getJSON('/pc/get/' + postcode, function(data) {
					$('#id_town').val(data.town);
					$('#id_address').val(data.address);
					$('#id_postcode').val(postcode.toUpperCase());
				});
    		} 
    	});
    });
    </script>
{% endblock %}
{% block content %}
<style>
	.appointment {
		
		-moz-column-count: 2;
		-webkit-column-count: 2;
	}
</style>
<h2>{{ title }}</h2>
<hr/>
<form id="appointment" name="appointment" action="/main/app/create/" method="post" class="appointment">
    {% csrf_token %} 
	<b>Datum {{ date }} {{ timeslot }}</b>
	{{ customerForm|as_bootstrap }}
	
	{{ appointmentForm|as_bootstrap }}
	
	{{ hiddenForm }}
<button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}