{% load i18n %}
{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h3>{{ title }}</h3>
<hr/>
<form id="date" name="date" action="/main/date_chosen/{{ date_iso }}" method="post">
{% csrf_token %} 

<select name="free_space" size=10 style="width: 30%;">
{% for key, label in free_space %}
    <option value="{{ key }}">{{ label }}</option>
{% endfor %} 
</select>
<input type="hidden" name="region_id" value="{{ region_id }}" />
<input type="hidden" name="weight" value="{{ weight }}" />
<p>
<button class="btn btn-primary" type="submit">{% trans "Next" %}</button>
</p>
</form>

{% endblock %}