{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block extra_head %}
{{ customerForm.media }}
{{ appointmentForm.media }}
<script>
	$(function() {
		$("#id_postcode").keyup(function(e) {
			postcode = $('#id_postcode')[0].value
			if (postcode.length === 6) {
				$.getJSON('/pc/get/' + postcode, function(data) {
					$('#id_town').val(data.town);
					$('#id_address').val(data.address);
					$('#id_postcode').val(postcode.toUpperCase());
				});
			}
		});
	}); 
</script>
{% endblock %}
{% block content %}
<style>
	.appointment {

		/*-moz-column-count: 2;
		 -webkit-column-count: 2;*/
	}
</style>
<h2>{{ title }}</h2>
<hr/>
<form id="appointment" name="appointment" action="" method="post" class="appointment">
	<div style="dispaly:inline;" >
		<div style="float:left; width:49%">
				{% csrf_token %}
			<table class="table table-condensed control-group">
				
				{% for field in customerForm %}

				{% if field.errors %}
			<tr>	
				<td >{{ field.label_tag }}<span class="text-error"> {{ field.errors }}</span></td>
				<td>{{ field }}</td>

				</tr>
				{% else %}
				<tr>
					<td class="control-label">{{ field.label_tag }}</td>
					<td >{{ field }}</td>
					<td colspan="1">{{ field.errors }}</td>
				</tr>
				{% endif %}

			
				{% endfor %}
			</table>
		</div>
		<div style="float:right; width:49%">
			<table class="table table-condensed">
				{% for field in appointmentForm %}
				<tr >
					<td class="control-label">{{ field.label_tag }}</td>
					<td>{{ field }}</td>
					<td colspan="1">{{ field.errors }}</td>
				</tr>

				{% endfor %}

				<tr>
					<th colspan="2">{% trans "Alternative dates" %}</th>
				</tr>
				<tr>
					<td colspan="2">
					<select id="free_space" name="free_space" size=10 style="width: 100%;">
						{% for key, label in free_space %}
						{% if key == calendar_id %}
						<option value="{{ key }}" selected="selected">{{ label }}</option>
						{% else %}
						<option value="{{ key }}" >{{ label }}</option>
						{% endif %}
						{% endfor %}
					</select></td>
				</tr>
			</table>
		</div>
	</div>
	<button class="btn btn-primary" type="submit">
		{% trans "Save" %}
	</button>
</form>
{% endblock %}