{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>Viewing saved appointment</h2>
<div class="container">
	<table class="table">
		<tr>
			<th colspan="6">Appointment to check in at {{ object.calendar.date }}, {{ object.calendar.timeslot }}</th>
		</tr>
		<tr>
			<th>Name</th><th>Address</th><th>Postal code</th><th>City</th><th>Phone</th><th>Stuff</th>
		</tr>
		<tr>
			<td>{{ object.customer.name }}</td>
			<td>{{ object.customer.address }} {{ object.customer.number }} {{ object.customer.additions }}</td>
			<td>{{ object.customer.postcode }}</td><td>{{ object.customer.town }}</td>
			<td>{{ object.customer.phone }}</td><td>{{ object.stuff }}</td>
		</tr>
	</table>
	<p><a class="btn" href="/admin/main/appointment/{{ object.id }}/delete"><i class="icon-remove"></i></a>
	<a class="btn" href="{% url AppointmentEdit appointment_id=object.pk date_iso='' %}"><i class="icon-edit"></i></a></p>
</div>
{% endblock %}