{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<hr/>
<div class="container">
	<table class="table">

		<tr>
			{% for car in car_list %}
			<th>{{ car }}</th>
			{% endfor %}
		</tr>
		{% for offset, begin, end in range0 %}
		
		<tr>
			
			{% for car in car_list %}
			<td><a href="{% url "WeekView" car.pk offset date_iso %}">{{ begin|date:"D j N o" }} - {{ end|date:"D j N o" }}</a></td>
			{% endfor %}
		</tr>

		{% endfor %}
		{% for offset, begin, end in range1 %}
		
		<tr>
			
			{% for car in car_list %}
			<td><b><a href="{% url "WeekView" car.pk offset date_iso %}">{{ begin|date:"D j N o" }} - {{ end|date:"D j N o" }}</a></b></td>
			{% endfor %}
		</tr>

		{% endfor %}
		{% for offset, begin, end in range2 %}
		
		<tr>
			
			{% for car in car_list %}
			<td><a href="{% url "WeekView" car.pk offset date_iso %}">{{ begin|date:"D j N o" }} - {{ end|date:"D j N o" }}</a></td>
			{% endfor %}
		</tr>

		{% endfor %}
	</table>

</div>

{% endblock %}